<table mat-table dataSource = "dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="Date" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> Дата начала </th>
    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
  </ng-container>
  <ng-container matColumnDef="Name" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> Название </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>
  <ng-container matColumnDef="Col" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> Участников </th>
    <td mat-cell *matCellDef="let element"> {{element.Col}} </td>
  </ng-container>
  <ng-container matColumnDef="Trener" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> Тренер </th>
    <td mat-cell *matCellDef="let element"> {{element.Trener}} </td>
  </ng-container>
	<ng-container matColumnDef="Progress" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> Прогресс </th>
    <td mat-cell *matCellDef="let element">
			<svg-icon src="/assets/progress.svg"></svg-icon>
			{{element.Progress}} 
		</td>
  </ng-container>
	<ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

