.ant-picker
	border: 0 
	outline: none
	&:hover		
		transition: 1s ease all
		border: 0 
		outline: none

.ant-picker-focused
	box-shadow: none


.card-switcher
	position: absolute
	z-index: 60
	left: 0
.card 

.card-header 
	font-style: normal
	font-weight: bold
	font-size: 14px
	line-height: 18px

	color: rgba(0, 0, 0, 0.87)
.hid
	display: none
.bl
	display: block
.card-option 	
	padding: 15px 0 0 0
	& h1
		font-weight: 500
		font-size: 10px
		line-height: 12px

		color: rgba(0, 0, 0, 0.54)
.card-option__label 
	display: flex

	& h1
		font-weight: 500
		font-size: 12px
		line-height: 16px
		padding: 0 5px 0 0
		color: rgba(0, 0, 0, 0.38)
	& p
		color: rgba(0, 0, 0, 0.22)
.card-content
	display: flex
	justify-content: space-between
	padding: 35px 43px 0 48px
.card-section
	width: 300px
	padding: 0 50px 0 0
	& select
		width: 100%
		font-size: 12px
.card-label 
	font-style: normal
	font-weight: 500
	font-size: 10px
	line-height: 12px
	padding: 0 0 5px 30px

	color: rgba(0, 0, 0, 0.54)
.card-section__svg 
	display: flex
	align-items: flex-end
	& svg
		margin: 0 10px 0 0 
	&:hover
		box-shadow: none
		border-bottom: 1px solid rgba(0, 0, 0, 0.87) 
	
@media (max-width: 480px) 
	.card-section
		width: 100px
		padding: 0
	.card-content
		padding: 0 15px
	.hid
		display: block		
		width: 100%
		padding: 20px 15px
	.bl
		display: none
	.card
		height: 80%