<div class="card">
	<div class="card-header">
		<h1>Мероприятие, дата и время проведения</h1>
	</div>
	<div class="card-option">
		<h1>Мероприятие</h1>
		<div class="card-option__label">
			<h1>Главные правила продаж</h1>
			<p>Тренинг</p>
		</div>
		
		<div class="card-content">
			<div class="card-switcher">
				<nz-switch [(ngModel)]="disabled1" nzSize="small"></nz-switch>
			</div>
			<div class="card-section">
				<label class="card-label">Дата</label>
				<div class="card-section__svg">
					<svg-icon src="/assets/date.svg"></svg-icon>
					<nz-date-picker [(ngModel)]="date1" (ngModelChange)="onChange($event)" nzPlaceHolder="Дата" nzFormat="d MMMM" [nzDisabled]="disabled1"></nz-date-picker>
				</div> 
			</div>
			<div class="card-section">
				<label class="card-label">Время</label>
				<div class="card-section__svg">
					<svg-icon src="/assets/Time.svg"></svg-icon>
					<nz-time-picker [(ngModel)]="time1" nzFormat="HH:mm" nzPlaceHolder="Время" [nzDisabled]="disabled1"></nz-time-picker>
				</div>
			</div>
			<div class="card-section">					
				<label class="card-label">Тренер</label>
				<div class="card-section__svg">					
					<svg-icon src="/assets/icon-avatar.svg"></svg-icon>
					<nz-select nzShowSearch nzAllowClear nzBorderless selectedValue ='null' class="svg" nzPlaceHolder="Тренер" [nzDisabled]="disabled1">
						<nz-option nzLabel="Сергей Ефремов" nzValue="1"></nz-option>
						<nz-option nzLabel="Сергей Ефремов" nzValue="2"></nz-option>
					</nz-select>
				</div>
			</div>
		</div>
	</div>
	<div class="card-option">
		<h1>Мероприятие</h1>
		<div class="card-option__label">
			<h1>Страхование без потерь</h1>
			<p>Тренинг</p>
		</div>
		<div class="card-content">
			<div class="card-switcher">
				<nz-switch [(ngModel)]="disabled3" nzSize="small"></nz-switch>
			</div>
			<div class="card-section">
				<label class="card-label">Дата</label>
				<div class="card-section__svg">
					<svg-icon src="/assets/date.svg"></svg-icon>
					<nz-date-picker [(ngModel)]="date2" (ngModelChange)="onChange($event)" nzPlaceHolder="Дата" nzFormat="d MMMM" [nzDisabled]="disabled3"></nz-date-picker>
				</div> 
			</div>
			<div class="card-section">
				<label class="card-label">Время</label>
				<div class="card-section__svg">
					<svg-icon src="/assets/Time.svg"></svg-icon>
					<nz-time-picker [(ngModel)]="time2" nzFormat="HH:mm" nzPlaceHolder="Время" [nzDisabled]="disabled3"></nz-time-picker>
				</div>
			</div>
			<div class="card-section">					
				<label class="card-label">Тренер</label>
				<div class="card-section__svg">					
					<svg-icon src="/assets/icon-avatar.svg"></svg-icon>
					<nz-select nzShowSearch nzAllowClear nzBorderless selectedValue ='null' class="svg" nzPlaceHolder="Тренер" [nzDisabled]="disabled3">
						<nz-option nzLabel="Сергей Ефремов" nzValue="1"></nz-option>
						<nz-option nzLabel="Сергей Ефремов" nzValue="2"></nz-option>
					</nz-select>
				</div>
			</div>
		</div>
		<div class="card-option">
			<h1>Мероприятие</h1>
			<div class="card-option__label">
				<h1>Страховой случай или как помочь клиенту</h1>
				<p>Тренинг</p>
			</div>
			<div class="card-content">
				<div class="card-switcher">
				<nz-switch [(ngModel)]="disabled2" nzSize="small"></nz-switch>
			</div>
				<div class="card-section">
					<label class="card-label">Дата</label>
					<div class="card-section__svg">
						<svg-icon src="/assets/date.svg"></svg-icon>
						<nz-date-picker [(ngModel)]="date3" (ngModelChange)="onChange($event)" nzPlaceHolder="Дата" nzFormat="d MMMM" disabled></nz-date-picker>
					</div> 
				</div>
				<div class="card-section">
					<label class="card-label">Время</label>
					<div class="card-section__svg">
						<svg-icon src="/assets/Time.svg"></svg-icon>
						<nz-time-picker [(ngModel)]="time3" nzFormat="HH:mm" nzPlaceHolder="Время" disabled></nz-time-picker>
					</div>
				</div>
				<div class="card-section">					
				<label class="card-label">Тренер</label>
				<div class="card-section__svg">					
					<svg-icon src="/assets/icon-avatar.svg"></svg-icon>
					<nz-select nzShowSearch nzAllowClear nzBorderless selectedValue ='null' class="svg" nzPlaceHolder="Тренер" nzDisabled = "true">
						<nz-option nzLabel="Сергей Ефремов" nzValue="1"></nz-option>
						<nz-option nzLabel="Сергей Ефремов" nzValue="2"></nz-option>
					</nz-select>
				</div>
			</div>
		</div>
	</div>
</div>

					