<div class="container">
	<mat-tab-group [disableRipple]="true" class="tabpanel">
		<mat-tab  label="Групповое" >
			<div class="filter">
				<div class="filter__submit">
					<form action="search">
						<div class="filter__search">
							<button type="submit"></button>
							<input type="search" required>
							<span class="bar"></span>
							<label>Поиск</label>
						</div>
					</form>
					<div class="filter__programs">					
						<label for="">Программа</label>
						<div class="filter__select">
							<nz-select nzShowSearch nzAllowClear nzBorderless selectedValue ='null' class="svg">
								<nz-option nzLabel="Все" nzValue="1"></nz-option>
								<nz-option nzLabel="2" nzValue="2"></nz-option>
								<nz-option nzLabel="1" nzValue="3"></nz-option>
								<nz-option nzLabel="3" nzValue="4"></nz-option>
							</nz-select>
						</div>
					</div>
					<div class="filter__period">
						<label for="">Период</label>	
						<div class="filter__select">
							<nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzPlaceHolder=" " nzFormat="MMMM y"></nz-date-picker>
						</div>
					</div>
					<div class="filter__status">					
						<label for="">Программа</label>
						<div class="filter__select">
							<nz-select nzShowSearch nzAllowClear nzBorderless selectedValue ='null' class="svg">
								<nz-option nzLabel="Все" nzValue="1"></nz-option>
								<nz-option nzLabel="Онлайн" nzValue="2"></nz-option>
								<nz-option nzLabel="Оффлайн" nzValue="3"></nz-option>
							</nz-select>
						</div>
					</div> 
				</div>
				<div class="morefilter">
					<p>34 сессии</p>
					<button type="button" class="morefilter__option">
						<svg-icon src="/assets/filter.svg"></svg-icon>
						<p>Настроить фильтр</p>
					</button>
					<button type="reset" class="morefilter__reset">
						<div class="close">
							<span></span>
						</div>
						<p>Сбросить</p>
					</button>
				</div>
			</div>
			<app-table></app-table>		
		</mat-tab> 
		<mat-tab  label="Индивидуальное">
			<div class="filter">
				<div class="filter__submit">
					<form action="search">
						<div class="filter__search">
							<button type="submit"></button>
							<input type="search" required>
							<span class="bar"></span>
							<label>Поиск</label>
						</div>
					</form>
					<div class="filter__programs">					
						<label for="">Программа</label>
						<div class="filter__select">
							<nz-select nzShowSearch nzAllowClear nzBorderless selectedValue ='null' class="svg">
								<nz-option nzLabel="Все" nzValue="1"></nz-option>
								<nz-option nzLabel="2" nzValue="2"></nz-option>
								<nz-option nzLabel="1" nzValue="3"></nz-option>
								<nz-option nzLabel="3" nzValue="4"></nz-option>
							</nz-select>
						</div>
					</div>
					<div class="filter__period">
						<label for="">Период</label>	
						<div class="filter__select">
							<nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzPlaceHolder=" " nzFormat="MMMM y"></nz-date-picker>
						</div>
					</div>
					<div class="filter__status">					
						<label for="">Программа</label>
						<div class="filter__select">
							<nz-select nzShowSearch nzAllowClear nzBorderless selectedValue ='null' class="svg">
								<nz-option nzLabel="Все" nzValue="1"></nz-option>
								<nz-option nzLabel="Онлайн" nzValue="2"></nz-option>
								<nz-option nzLabel="Оффлайн" nzValue="3"></nz-option>
							</nz-select>
						</div>
					</div> 
				</div>
				<div class="morefilter">
					<p>34 сессии</p>
					<button type="button" class="morefilter__option">
						<svg-icon src="/assets/filter.svg"></svg-icon>
						<p>Настроить фильтр</p>
					</button>
					<button type="reset" class="morefilter__reset">
						<div class="close">
							<span></span>
						</div>
						<p>Сбросить</p>
					</button>
				</div>
			</div>
			<app-table></app-table>
		</mat-tab>
	</mat-tab-group>
</div>