<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <div class="header-label">
      <h1>Планирование</h1>
      <button type="submit" mat-button (click)="drawer.toggle()"> 
      <svg-icon src="/assets/acceps.svg"></svg-icon>
    </button>
    <button type="submit" mat-button (click)="drawer.toggle()"> 
      <div class="close">
				<span></span>
			</div>
		</button>
    </div>
    
    
    <mat-tab-group [disableRipple]="true" class="tabpanel">
      <mat-tab  label="Групповое" >
        <app-card></app-card>
      </mat-tab>
      <mat-tab  label="Индивидуальное">

      </mat-tab>
    </mat-tab-group>
  </mat-drawer>

  <div class="example-sidenav-content">
    


    <button type="button" class="header__schedule"  mat-button (click)="drawer.toggle()">
      <div class="header__plus">
        <span></span>
      </div>
      <p>Запланировать</p>
    </button>
    <app-menu></app-menu>
    <app-tabpanel></app-tabpanel>
  </div>

</mat-drawer-container>



      <app-card></app-card> 